body{margin: 0;}
section{display: flex;
       padding: 50px;
    margin-bottom: 30px;}

h1{font-size: 45px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.orange{color: orangered;} 

.fifty-1{width: 40%;padding-left: 1%;}
.img-1{width: 100%;padding-left: 60px;}
.img-2{padding-right: 90px; ;}
.fifty-4 p{text-align: justify;}



.ancor{text-decoration: none ; background-image: linear-gradient(orangered,rgb(69, 216, 69));
                      color:white;border-radius: 14px;padding: 9px;
                      font-weight: bold;}


 .section-2{background-image: url(7.png);}
 .fifty-4 a{padding: 10px; font-weight: bolder;font-size: 19px;color: white;background-image: linear-gradient(blue,purple);border-radius: 22px;border: 2px rgb(54, 8, 8) solid;}     
 

 
  .center{text-align: center;position: relative;left: 500px;width: 350px;font-size: 41px;bottom: 80px;}
 .section-3 p{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,       Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position: relative;left: 500px;  width: 350px;font-size:17px; font-weight: bold; text-align: justify;bottom: 85px;}



  .fifty-6{box-shadow: rgb(54, 8, 8) 5px 4px 20px; width: 340px;
                 margin: 0 auto; padding: 50px;
                  text-align: justify;
                 border-radius: 10px;
                box-sizing: border-box;}


 .img-3{width:230px; border-radius: 5px; border: olive 2px solid;position: relative; left: 1px;}
 .img-4{width: 230px;box-sizing: border-box;border-radius: 5px;}
 .img-5{width: 230px;box-sizing: border-box;  border: olive 2px solid; border-radius: 5px;}